name: CD - Product Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build application
        run: mvn clean package -DskipTests

      - name: Verify JAR
        run: ls -l target

      - name: Build Podman image
        run: podman build -t product-service:latest .

      - name: Run container (validation only)
        run: |
          podman run -d \
            --name product-service \
            -p 8081:8081 \
            product-service:latest

      - name: Verify container
        run: |
          sleep 10
          podman ps
          podman logs product-service --tail 20
