name: CD - Product Service

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write   # REQUIRED for GHCR

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build application
        run: mvn clean package -DskipTests

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io \
            -u ${{ github.actor }} --password-stdin

      - name: Build Podman image
        run: |
          podman build -t ghcr.io/${{ github.actor }}/product-service:latest .

      - name: Push image to GHCR
        run: |
          podman push ghcr.io/${{ github.actor }}/product-service:latest

      - name: Verify image
        run: podman images
