name: CD - Product Service 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build application
        run: mvn clean package -DskipTests

      - name: Install Podman
        run: |
          sudo apt update
          sudo apt install -y podman

      - name: Build Podman image
        run: |
          podman build -t product-service:latest .

      - name: Stop existing container (if any)
        run: |
          podman stop product-service || true
          podman rm product-service || true

      - name: Run container
        run: |
          podman run -d \
            --name product-service \
            -p 8080:8080 \
            product-service:latest
